{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class=""navbar-brand" href="#">Community</a>
        <button class="navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.create_post') }}">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.view_post') }}">View Post</a>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="{{ url_for('skills.edit_comment') }}">Edit Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.delete_post') }}">Delete Post</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.add_comment') }}">Add Comment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.view_comments') }}">View Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.edit_comment') }}">Edit Comment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills.delete_comment') }}">Delete Comment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}