{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Menu</button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a class="nav-link" href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
          <li class="dropdown-item"><a class="nav-link" href="{{ url_for('skills.view_media') }}">Resources</a></li>
          <li class="dropdown-item"><a class="nav-link" href="{{ url_for('skills.view_all_posts') }}">Community</a></li>
          <li class="dropdown-item"><a class="nav-link" href="{{ url_for('users.user_settings') }}">Settings</a></li>
          <li class="dropdown-item"><a class="nav-link" href="{{ url_for('users.notifications') }}">Notifications</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-pills justify-content-end ml-auto">
        <li class="active">
          <form action="{{ url_for('users.register') }}">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('users.login') }}">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('users.logout') }}">
            <button type="submit" class="btn btn-primary">Log Out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container text-center">
  <h1>Welcome to SkillJourney, {{ g.user.username }}!</h1>
  <p>This is where u can access and view resources.</p>
</div>
{% endblock %}