{% extends 'layout.html' %}

{% block head %}
    {{ super()}}
    <!-- link to specific CSS file for login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='users/login.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <form action="" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username or Email</label>
        <input type="text" name="username" id="username" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Log In</button>
      </div>
    </form>
    <p class="mt-3">Don't have an account? <a href="{{ url_for('users.register') }}">Sign Up</a>.</p>
  </div>
</div>
{% endblock content %}