{% extends "layout.html" %}

{% block head %}
    {{ super()}}
    <!-- link to specific CSS file for login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='users/search.css') }}">
{% endblock %}

{% block content %}
  <h1>Search Results</h1>
  <form action="{{ url_for('users.search') }}" method="post">
    <div class="form-group">
      <input type="text" name="search_query" class="form-control" placeholder="Enter search query">      
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <h2>Results</h2>
  {% if results %}
    <ul>
      {% for result in results %}
        <li>
          {% if result.type == 'post' %}
            <a href="{{ url_for('skills.view_all_posts') }}">Post: {{ result.title }}</a>
          {% elif result.type == 'comment' %}
            <p>Comment: {{ result.content }}</p>
          {% elif result.type == 'resource' %}
            <a href="{{ result.url }}">Resource: {{ result.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>No results found.</p>
  {% endif %}
{% endblock %}