{% extends "layout.html" %}

{% block content %}
<h1>User Profile</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Profile Information</h5>
        <p class="card_text">Bio: {{ profile.bio }}</p>
        <p class="card_text">Website URL: {{ profile.website_url }}</p>
        <p class="card_text">Location: {{ profile.location }}</p>
    </div>
</div>
<!-- Link to Edit Profile -->
<a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary">Edit</a>
{% endblock %}
