/* layout.css */
.logo {
    display: flex;
    align-items: center;
    color: #007bff;
    font-size: 18px;
    margin-right: auto;
}

.logo-text {
    text-transform: capitalize;
}

.logo-text span:first-letter {
    margin-right: 10px;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #C8A2C8;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar-nav .nav-link {
    color: #6c757d;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}