{% extends "layout.html" %}

{% block content %}
<div class="container">
      <ul class="nav nav-pills justify-content-end ml-auto">
        <li class="active">
          <form action="{{ url_for('users.home') }}">
            <button type="submit" class="btn btn-primary">Home</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('admin.backup') }}">
            <button type="submit" class="btn btn-primary">Backup</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('admin.restore') }}">
            <button type="submit" class="btn btn-primary">Restore</button>
          </form>
        </li>
      </ul>
</div>
<div class="container text-center" style="font-style: italic;">
  <h1>Welcome to SkillJourney Admin Dashboard, {{ g.user.username }}!</h1>
  <p>Here you can manage all administrative tasks for the system.</p>
  <p>These administrative tasks include the following:</p>
  <p>Backup Database, and  Restore Databas.</p>
</div>
{% endblock %}
   
 