{% extends "layout.html" %}

{% block content %}
    <h1>Create Post</h1>
    <form method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" required><br><br>

        <label for="content">Content</label><br>
        <textarea name="content" id="content" required></textarea><br><br>

        <label for="url">URL (Optional):</label><br>
        <input type="text" name="url" id="url"><br><br>

        <button type="submit">Create Post</button>
    </form> 

    
{% endblock %}