{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1>Edit Skill</h1>
  <form action="{{ url_for('skills.add_skill') }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control"><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" class="form-control">{{ skill.description }}</textarea><br>
    <button type="submit" class="btn btn-primary">Update Skill</button>
  </form>
</div>
{% endblock content %}