{% extends  "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Post a Reply</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{{ url_for('skills.reply_comment', parent_comment_id=parent_comment.id) }}">
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
                </div>
                <!-- Submit form -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- Delete Form -->
    <form method="POST" action="{{ url_for('skills.delete_comment') }}">
        <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
</div>

{% endblock %}