{% extends "layout.html" %}

{% block content %}
<div class="container">
      <ul class="nav nav-pills justify-content-end ml-auto">
        <li class="active">
          <form action="{{ url_for('skills.create_post') }}">
            <button type="submit" class="btn btn-primary">Create Post</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('users.home') }}">
            <button type="submit" class="btn btn-primary">Home</button>
          </form>
        </li>
        <li class="active">
          <form action="{{ url_for('users.logout') }}">
            <button type="submit" class="btn btn-primary">Log Out</button>
          </form>
        </li>
      </ul>
</div>
{% endblock %}
