{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
  <h1> Welcome to Skill Journey</h1>
  <p>Discover curated resources to enhance your skills, whether programming, lifestyle, career or creativity.</p>
  <p>Connect with peers, share insights, and collaborate on your skill-building journey.</p>
</div>
<div class="container position-relative">
  <div class="position-absolute top-0 end-0">
    <a href="{{ url_for('users.register') }}"><button>Sign Up</button></a>"
    <a href=" {{ url_for('users.login') }}"><button>Log In</button></a>
  </div>
</div>

</div>
</div>
{% endblock content %}